flows.json
[{"type":"tab","id":"cab78541.06e838","label":"Thermostat_light"},{"id":"d78fa207.5444c","type":"wirelessthings","z":"cab78541.06e838","name":"","subtype":"temperature","x":109,"y":211,"wires":[["445bcc1.9667934"]]},{"id":"445bcc1.9667934","type":"function","z":"cab78541.06e838","name":"","func":"\n\nif (msg.payload.value > 19){\n    return {\n         type: \"set-bulb-on\",\n            payload: \"off\"\n    }\n}\nelse{\n    return {\n        type: \"set-bulb-on\",\n        payload: \"on\"\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":272,"y":232,"wires":[["5e2c0b30.5ce494","67214c5d.e0a804"]]},{"id":"5e2c0b30.5ce494","type":"debugger","z":"cab78541.06e838","name":"","active":true,"console":"false","complete":"true","x":556,"y":151,"wires":[]},{"id":"67214c5d.e0a804","type":"bulbsout","z":"cab78541.06e838","name":"","subtype":"set-bulb-on","value":"","x":489,"y":308,"wires":[]}]