flows.json
[{"type":"tab","id":"cab78541.06e838","label":"Thermostat_light"},{"id":"d78fa207.5444c","type":"wirelessthings","z":"cab78541.06e838","name":"","subtype":"temperature","x":109,"y":211,"wires":[["445bcc1.9667934","46cde4d4.a0f83c"]]},{"id":"445bcc1.9667934","type":"function","z":"cab78541.06e838","name":"","func":"\n\nif (msg.payload.value > 19){\n    return {\n         type: \"set-bulb-on\",\n            payload: \"off\"\n    }\n}\nelse{\n    return {\n        type: \"set-bulb-on\",\n        payload: \"on\"\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":272,"y":232,"wires":[["5e2c0b30.5ce494","67214c5d.e0a804"]]},{"id":"5e2c0b30.5ce494","type":"debugger","z":"cab78541.06e838","name":"","active":true,"console":"false","complete":"true","x":537,"y":138,"wires":[]},{"id":"67214c5d.e0a804","type":"bulbsout","z":"cab78541.06e838","name":"","subtype":"set-bulb-on","value":"","x":489,"y":308,"wires":[]},{"id":"6b2fc615.6c2528","type":"plugout","z":"cab78541.06e838","name":"","subtype":"set-plug-power","value":"on","x":514,"y":425,"wires":[]},{"id":"46cde4d4.a0f83c","type":"function","z":"cab78541.06e838","name":"","func":"if (msg.payload.value > 19){\n    return {\n            payload: \"off\"\n    }\n}\nelse{\n    return {\n        payload: \"on\"\n    }\n}\n","outputs":1,"noerr":0,"x":272,"y":322,"wires":[["6b2fc615.6c2528","5e2c0b30.5ce494"]]}]