flows.json
[{"type":"tab","id":"87ab6c0c.ed0e4","label":"new package"},{"id":"bd9b4ac5.7e327","type":"twitter","z":"87ab6c0c.ed0e4","name":"","subtype":"twitterHashTagStream","x":131,"y":306,"wires":[["8eb94dd0.ca0568"]]},{"id":"8eb94dd0.ca0568","type":"function","z":"87ab6c0c.ed0e4","name":"","func":"var sentiment = require(\"sentiment\");\nvar result = sentiment(msg.payload.value);\nvar images = [  \"http://www.pixhoster.info/f/2016-10/682ebfc95a85fafdf7e36450550b5484.jpg\",\n                \"http://www.pixhoster.info/f/2016-10/729fd69ae6691f5055a6eb470b576f37.jpg\",\n                \"http://www.pixhoster.info/f/2016-10/189d28dac5825d880ddcd3820d203081.jpg\",\n                \"http://www.pixhoster.info/f/2016-10/77c71a0ea9e9ff3deb072f9c54bc50df.jpg\",\n                \"http://www.pixhoster.info/f/2016-10/5c050cfdceadd75e453ef28eadecd1db.jpg\",\n                \"http://www.pixhoster.info/f/2016-10/903034d09195dbdb2dcd55bba579a82e.jpg\",\n            ];\n            \nreturn {\n    tweet: msg.payload.value,\n    src: images[Math.max(0,Math.min(5, result.score || 0))]\n};","outputs":1,"noerr":0,"x":321,"y":310,"wires":[["8cf8f9ad.49222","e54aec96.39806"]]},{"id":"8cf8f9ad.49222","type":"webify","z":"87ab6c0c.ed0e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n   .tweet {\n        position: absolute; \n        top: 45%; \n        left: 0;\n        text-align: center; \n        width: 100%; \n        color: white;\n        background: none;\n        font-size: 3em;\n    }\n    .img-container {\n        position:relative;\n    }\n</style>\n<div class=\"img-container\">\n    <img src=\"{{src}}\"/>\n</div>\n<div class=\"tweet\">\n    {{tweet}}\n</div>","x":480,"y":407,"wires":[["35e8da9e.f21c76"]]},{"id":"35e8da9e.f21c76","type":"app","z":"87ab6c0c.ed0e4","name":"","appId":"webapp","layout":[["8cf8f9ad.49222"]],"x":681,"y":357,"wires":[]},{"id":"e54aec96.39806","type":"debugger","z":"87ab6c0c.ed0e4","name":"","active":true,"console":"false","complete":"true","x":507,"y":169,"wires":[]}]